<div class="container-fluid" id="player" >

			<div class="row ">

			

				<div class="col-md-1" id="powered-by">
						<a href="http://www.soundcloud.com"><img src="/img/site/powered_by.png"></a>
				</div>




				<div class="col-md-3">					

					<div class="row">
						<div  class="col-md-3" id="art-work">
						</div>


						<div class="col-md-9" id="wave-form">
						</div>
					</div>

				</div>





				
				<!-- Set's Title + Tracks -->
				<div  class="col-md-3" id="audio-info">

					<div class="row" id="set-info">
					</div>

					<div class="row" id="soundcloud-info">
					</div>
		
				</div>


				<!-- go to previous Set/partie -->
				<div class="col-md-1" id="nav-sets-left">
				<!-- <img src="/img/event_previous.png"> -->


					<div class="btn-group btn-group-justified" role="group" aria-label="...">

						<div class="btn-group" role="group">
								<button type="button" class="btn  btn-default btn-player" id="previous-event"><h1><span class="glyphicon glyphicon-chevron-left" aria-label="Go to previous event">
							</span></h1></button>
						</div>

					</div>

				</div>


			

				<!-- Track's Nav buttons -->
				<div class="col-md-3" id="nav-tracks">
				<!-- <img src="/img/player_previous.png">
					<img src="/img/player_play.png">
					<img src="/img/player_next.png"> -->

					<div class="btn-group btn-group-justified" role="group" aria-label="...">

						<div class="btn-group" role="group">
							<button type="button" class="btn  btn-default btn-player" id="previous-track"><h1><span class="glyphicon glyphicon-fast-backward" aria-label="Go to previous track">
							</span></h1></button>
						</div>

						<div class="btn-group" role="group">
							<button type="button" class="btn  btn-default btn-player" id="play-pause"><h1><span class="glyphicon glyphicon-play" aria-label="Play track">
							</span></h1></button>
						</div>

						<div class="btn-group" role="group">
							<button type="button" class="btn  btn-default btn-player" id="next-track"><h1><span class="glyphicon glyphicon-fast-forward" aria-label="Go to next track">
							</span></h1></button>
						</div>
						
					</div>

				</div>




				<!-- go to next Set/partie -->
				<div class="col-md-1" id="nav-sets-right">
					<!-- <img src="/img/event_next.png"> -->


					<div class="btn-group btn-group-justified" role="group" aria-label="...">

						<div class="btn-group" role="group">

								<button type="button" class="btn  btn-default btn-player" id="next-event"><h1><span class="glyphicon glyphicon-chevron-right" aria-label="Go to next event">
							</span></h1></button>

						</div>

					</div>


				</div>
				
			</div>
		</div>
