<!-- NOTE: Don't forget to remoe the btn-player class and do a new custom one for the arrows  -->

<div class="btn-group-vertical " data-spy="affix" role="group" aria-label="...">

	<div class="btn-group">
		<button type="button" class="btn btn-player weekoffset"><h1><span class="glyphicon glyphicon-chevron-up white" id="previous-week" aria-label="Go to previous week"></span></h1></button>
	</div>

	
	<div class="btn-group" role="group" id="dates-holder">
		
	</div>



	<div class="btn-group">
		<button type="button" class="btn btn-player "><h1><span class="glyphicon glyphicon-chevron-down white" id="next-week" aria-label="Go to next week"></span></h1></button>

	</div>

</div>