
<div class="container">

  <div class="row">

    <div class="col-md-8">
      
      <h1>New Event</h1>

      
      <form method="post" action="/api/create" id="addForm" enctype="multipart/form-data">
        
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Event Name" name="title">
        </div>

        <h2>Line up</h2>

        <div class="form-group">
          <label for="artist">Artist</label>
          <input type="text" class="form-control" id="artist" placeholder="Artist" name="artist">
        </div>

        <div class="form-group">
          <label for="interests">Soundcloud Url</label>
          <input type="text" class="form-control" id="soundcloudUrl" name="soundcloudUrl">
          <p class="help-block">Enter the URL of the artist's recent track</p>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea rows="4" cols="50" class="form-control" id="description" placeholder="Tell the story of this event" name="description"></textarea>
        </div>  

      <!-- DOUBT: Radio buttons. How is this going to work on the model and db??-->


        <div class="form-group">
          <label for="price">Price</label><br>
          
          <p>from <input type="text" class="form-control" id="minPrice" placeholder="minPrice" name="minPrice"> to 
          <input type="text" class="form-control" id="maxPrice" placeholder="maxPrice" name="maxPrice"></p>

          <input type="checkbox" name="isfree" value="isfree">This is a free event<br>


        </div>




        <div class="form-group">
          <label for="buyUrl">Buy</label>
          <input type="text" class="form-control" id="buyUrl" placeholder="Link to buy ticket" name="buyUrl">
        </div>


        
        <div class="form-group">
          <label for="artcover">Art cover</label>
            <input type="file" name="artcover" id="image" value="Select a Photo">
        </div>



        <div class="form-group">
          <label for="dateEvent">Date</label>
          <input type="date"  class="form-control" id="dateEvent" placeholder="date" name="dateEvent">
        </div>




        <div class="form-group">
          <label for="startTime">Start time</label>
          <input type="text" class="form-control" id="startTime" placeholder="What time does it start?" name="startTime">
        </div>





        <div class="form-group">
          <label for="endTime">End time</label>
          <input type="text" class="form-control" id="endTime" placeholder="When does it end?" name="endTime">
        </div>




        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="start typing the address" name="address">
        </div>




        <div class="form-group">
          <label for="zip">Zip</label>
          <input type="text" class="form-control" id="zip" placeholder="zip" name="zip">
        </div>


        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" placeholder="city" name="city">
        </div>


        <button type="submit" class="btn btn-default">Submit</button>

      </form> 

    </div>

</div>


  