<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello World</title>

  
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
  
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
   <link rel="stylesheet" href="/css/custom.css" type="text/css">



    <!-- Google Maps street 
      <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcbaARfRKvT0INad3FAT-KycpAXTpfCCQ
        &libraries=places">
      </script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  

  <body>

  

<div id="main">

  <div id="menu-container">
    
    <div class="container-fluid">
        
      <div class="row">

        <div id="logo" class="col-md-3">
          <img src="/img/logo.png">
        </div>

        <div id="cities" class="col-md-5">
          <h3>New York</h3>

        </div>

        <div id="account" class="col-md-4">

          <p>Hi, <b>username</b><p>

        </div>

      </div>

    </div>

  </div>



  <div class="container" id="content-container">

<!--        Title is {{set.title}}
 -->        
        <div class="row" id="event-detail">
      
        </div>

  </div>






  <div class="container-fluid" id="player">

    <div class="row">

      <!-- go to previous Set/partie -->
      <div class="col-md-1" id="nav-sets-left">
        <img src="/img/event_previous.png">
      </div>

      <!-- Set's Artwork -->
      <div  class="col-md-1" id="art-work">
      </div>

      <!-- Set's Title + Tracks -->
      <div  class="col-md-3" id="set-info"></div>

      <!-- Track's Nav buttons -->
      <div class="col-md-2" id="nav-tracks">
        <img src="/img/player_previous.png">
        <img src="/img/player_play.png">
        <img src="/img/player_next.png">
      </div>

      <!-- Track's timeline/waveform -->
      <div class="col-md-3" id="wave-form">
      </div>

      <!-- go to next Set/partie -->
      <div class="col-md-1" id="nav-sets-right">
        <img src="/img/event_next.png">
      </div>

    </div>


  </div>


</div>











  
  </body>
    
    

    <!-- JQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 

    <!-- OUR JS -->
    <script src="/js/main.js"></script>
</html>