  <div id="menu-container">
    
    <div class="container-fluid">
        
      <div class="row">

        <div id="logo" class="col-md-3">
          <img src="/img/logo.png">
        </div>

        <div id="cities" class="col-md-5">
          <h3>New York</h3>

        </div>

        <div id="account" class="col-md-4">

          <p>Hi, <b>username</b><p>

        </div>

      </div>

    </div>

  </div>



  <div class="container" id="content-container">

<!--        Title is {{set.title}}
 -->        
        <div class="row" id="event-detail">
      
        </div>

  </div>



