
	<body class="home"> 

	<header class="bgheader">

		<div class="container-fluid">
					
			<div class="row">

				<div class="col-md-12 pull-left" id="iconBig">
					<img src="/img/site/logo_medium.png">
				</div>

			</div>

			<div class="row text-uppercase"  id="sloganShort">
				
				<div class="col-md-4 pull-right">
					<h1 class="thin" style="float:left">Listen</h1><h1>before you go</h1>
				</div>

				
			</div>


			<div class="row" id="sloganLong">

				<div class="col-md-5 pull-right">
					<h1>Preview the music playing at <br> events and venues,
						and go right.
					</h1>
				</div>

			</div>

		
		</div>


	</header>	
			
		

	<div class="container" id="preview">

		<div class="row">

			<div class="col-md-6">
				<h3>Upcoming events happening in</h3>
			</div>


			<div class="col-md-6 dropdown">
			  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">New York
			  <span class="caret"></span></button>
			</div>

			<!-- <a href="upcoming" class="btn btn-default btn-lg btn-block">New York</a>-->
		</div>

			<div class="row">

				<div id="nextFour-holder">
				</div>

			<!-- events-holder div brings up the embeded code from render event function -->

			</div>

	</div>



		<header class="bgpromoter">

			<div class="container" id="promoters">


					<div class="row">

						<div class="col-md-6">
							<h3>[Here goes image for promoters]</h3>
						</div>


						<div class="col-md-6">
							<p><h1>Make parties? Run a music venue? </h1>
								<h2>Broadcast the soundtrack of your space on Mixgogo and grow your crowd</h2>
							</p>
						</div>

			 		</div>

			</div>

		</header>	
				


	</body>

	<script>initSubscribe()</script>
