


<div class="container-fluid" id="content-container">


<!-- <div id="calendar-container">

		<div class="container-fluid">

			<div class="row" >
	

				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					
					<div class="col-md-1">
						<div class="btn-group" role="group">
								<button type="button" class="btn  btn-default btn-player pull-right" id="previous-week"><h1><span class="glyphicon glyphicon-chevron-left" aria-label="Go to previous week"></span></h1></button>
						</div>
					</div>
				

					<div class="col-md-10">
						<div class="btn-group block-center" id="dates-holder" role="group">
						</div>
					</div>

					<div class="col-md-1">
						<div class="btn-group col-md-1" role="group">
							<button type="button" class="btn  btn-default btn-player pull-left" id="next-week"><h1><span class="glyphicon glyphicon-chevron-right" aria-label="Go to next week"></span></h1></button>
						</div>
					</div>

				</div> 

			</div>

		</div>


	</div>-->


	<div id="content-title">

	</div>


	<div class="container-fluid" id="sets-container">

				
		<div class="row">

			<div id="dateTitle-holder"></div>

			<div id="events-holder"></div>

<!-- events-holder div brings up the embeded code from render event function -->

		</div>


	</div>






</div>	

