

body{
	margin: 0;
	background: -webkit-linear-gradient(bottom, #E4523B, #E4345C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #E4523B, #E4345C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #E4523B, #E4345C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #E4523B, #E4345C); /* Standard syntax (must be last) */
	background-attachment:fixed;

}

/*.backgroundSpecial{
	margin: 0;
	background: -webkit-linear-gradient(bottom, #E4523B, #E4345C); 
    background: -o-linear-gradient(top, #E4523B, #E4345C); 
    background: -moz-linear-gradient(top, #E4523B, #E4345C); 
    background: linear-gradient(to top, #E4523B, #E4345C); 
	background-attachment:fixed;
	z-index: -2;
	opacity: 0.4;
}*/

.backgroundOrange{
	background: #E4523B;
}


#iconBig{
	padding-left: 240px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#yas{
		padding-top: 25px;

}

#preview{
	margin-top:180px;
	padding-top:100px;
    border-top: 1px solid #fff; 
    height: 100%;
    min-height: 100%;
    color:#fff;
}


#promoters{
	color: #ffffff;
	margin-top: 180px;
    padding-top: 100px;
    border-top: 1px solid #fff;
}

#promoters2{
    padding-left: 50px;
    padding-top: 50px;
}

#holdon{
	color: #ffffff;
    text-align: center;
}

.bgheader{
	background: url(/img/site/header_mixgogo.png) no-repeat; 
	background-position: center center;
	background-size:cover;
	height:auto;
	/*z-index: -2;*/
}


.bgpromoter{
	/*background: url(/img/site/background2.png) no-repeat; */
	background-position: center top;
	background-size: 100%;
	height:800px;
}


.btn-xlarge {
	margin-top: 10px;
    padding: 08px 18px;
    font-size: 28px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}


.btn.outline {
	background: none;
	padding: 12px 82px;
}


.btn-primary.outline {
	border: 4px solid #fff;
	color: #fff;
}


.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}

.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}


.btn-player{
	background: initial;
	border: none;
	border-radius: 0px;
	height: 96px;
}

#nav-sets-left{
	padding: 0px;


}

#nav-sets-right{
	padding: 0px;

}

#art-work{
	padding: 0px;
	width: 96px;
}


#wave-form{
	padding: 0px;
}


#powered-by{
	width: 96px;
	padding-top: 16px;
	margin: 0 auto;
}




#dates-holder{
	width: 96px;
}


.btn-calendar{
	background: none;
	padding: 12px 22px;
	width: 120px;
	border: 2px solid #fff;
	color: #fff;
	white-space:normal !important;
    word-wrap:break-word; 
}


.btn-calendar:hover, .btn-calendar:focus, .btn-calendar:active{
	color: #000000;
	border-color: #000000;
}
.btn-calendar:active, .btn-calendar.active {
	border-color: #000000;
	color: #000000;
	box-shadow: none;
}




.{
	margin-bottom: 40px;
}


.navbar-custom  {
	min-height: 150px;
	background: none;
	padding-left: 150px;
	padding-right: 150px;
	margin-bottom: 0px;
	vertical-align: middle;
	border: none;
}

.navbar-brand{
	min-height: 150px;
	padding-top: 49px;
}

.navbar-cities {
	padding-top: 52px;
	min-height: 150px;
}

.navbar .nav > li > a {
    
    text-decoration: none;
    color:  white;
    font-size: 28px;
    font-weight: lighter;

}

#navbar-week{
	padding: 0px;
}

.fixed {
        position: fixed;
}

.scrollit {
}





.dayDivider{
	margin-bottom: 40px;
}


.home{
	    
		width: 100%;
		height: 100%; 
}

#main{
	position: absolute;
	margin: 0 px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

/* 1) Menu Bar Top */

#menu-container{
	position: absolute;
	width: 100%;
	height: 86px;
	z-index:1;
	float:	left;
}

/* 1.1) Logo */

#logo{
	float: left;

}


/* 1.2) Accounts nav links */

#cities{
	float: left;

}


/* 1.3) Accounts nav links */

#account{
	float: left;
	text-align: right;


}



/* 2) Content - Everything left to the menu */


#content-container{
	position: relative;
	top: 0px;
	height: auto;
	margin: 0 auto;
	padding-left: 150px;
	padding-right: 150px;
	/*padding-top: 150px;*/
}


#holdon-container{

	position: relative;
	top: 0px;
	height: auto;
	margin: 0 auto;
	padding-top: 150px;

	padding-left: 150px;
	padding-right: 150px;
	/*padding-top: 150px;*/


}

/* 2.1) Feed */


#sets-container{

/*	margin-top: 50px;
*/}

.card-container{
	min-height: 460px;
	max-width: 360px;
}


/* 2.1.1) Each Set Div */

.set-holder{
	margin-right: 30px;
	margin-top: 30px;
	width: 280px;
	height: 240px;
	border-radius: 4px;
	border: 1px solid #dcdcdc;
	background-color: #fff;
	float: left;
}

.first{
	margin-top: 50px;
}

.thumbnail {
    border: medium none;
    box-shadow: none;
    display: block;
    line-height: 1;
    position: relative;
    z-index: 2; 
    max-width:360px; /* Added Lower Z-Index Value */
    min-height:460px;
    margin-bottom: 30px;
}


#bigplay {
    z-index: 3; /* Added Higher Z-Index Value from thumbnail div */
}

.thumbplay{
	position: absolute;
	margin: 0 auto;
	margin-top: 120px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* 2.2) Calendar Nav */


#calendar-container{
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	height: 200px;
	margin: 0 auto;
	float: left;
}





#flyer{
	border: medium none;
    box-shadow: none;
    display: block;
    line-height: 1;
    position: relative;
    z-index: 2;
	width: 100%;
    /*max-width: 360px;
    */
    min-height: 660px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}




#player{
	position: fixed;
	z-index: 2;
	bottom: 0px;
	width: 100%;
	height: 96px;
	background: -webkit-linear-gradient(bottom, #2E2C2D, #4C4D4F);  
    background: -o-linear-gradient(top, #2E2C2D, #4C4D4F); 
    background: -moz-linear-gradient(top, #2E2C2D, #4C4D4F); 
    background: linear-gradient(to top, #2E2C2D, #4C4D4F); 
    display:visible;
    color: #fff;

}

.player-btn{
    height: 96px;
}


/*

#player{
	position: fixed;
	z-index: 2;
	bottom: 0px;
	width: 100%;
	height: 96px;
	background: -webkit-linear-gradient(bottom, #FAFBFB, #ACAEB0); 
    background: -o-linear-gradient(top, #FAFBFB, #ACAEB0); 
    background: -moz-linear-gradient(top, #FAFBFB, #ACAEB0); 
    background: linear-gradient(to top, #FAFBFB, #ACAEB0);  

}*/

/* 3.1) Sets Previous and Next Nav*/

#nav-sets{
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 260px;
	float: left;
}

/* 3.2) Set's Title*/

.set-title{
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 40px;
	float: left;
}

/* 3.3) Set's Track*/

.track-title{
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 40px;
	float: left;
}


/* 3.4) Tracks Previous and Next Nav*/

#nav-tracks{
	position: relative;
	bottom: 0px;
	height: 40px;
	float: left;
}

/* 3.5) Wave form*/

#waveform{
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 80px;
	float: left;
}



/* FONTS */

.thin {
	font-weight: lighter;
	font-style: italic;
}

/* Event Title on event's page */

h6{
	font-size: 56px;
	color: #ffffff;

}



/* Calendar title, Tracks Title on event's page */

/*h2{
	font-family: 'Lato', sans-serif;
	font-size: 38px;
	font-weight: normal;
	color: #ffffff;
}*/

.date-thumb{

}

.date-title{
	font-weight: lighter;
	font-size: 500%;
	text-align: center;
	padding-top: 48px;
}



/*add to bootstrap*/
h2{
	font-weight: lighter;
	color: #000000;
}


.track-thumb{
	margin-top: -20px;
}

h3{
	font-weight: thin;
}

/* Track title on Player and Main Feed page */
/*
h3 {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: lighter;
	color: #ffffff;
}


p{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #080808;	
}*/

#sloganShort{
	color: #ffffff;
	text-align: right;
	padding-right: 240px;
	padding-top: 22%;
	font-size: 300% !important;


}

#sloganLong{
	color: #ffffff;
	text-align: right;
	padding-right: 240px;
}


#upcoming{
	padding-bottom: 50px;
}


.buttonExplore{
	padding-right: 240px;
	margin-right: 15px;
    margin-top: 40px;
}



.buttonMore{
	margin-right: 15px;
    margin-top: 40px;
    text-align: center;
}

#copyright{
	color:#fff;
	text-align: center;
	font-size: 16px;
    margin-top: 250px;
    margin-bottom: 50px;

}


a:link {    /* unvisited link */
    color: #000000;
    text-decoration: none;
}
a:visited {    /* visited link */
    color: #000000;
}
a:hover {    /* mouse over link */
    color: #000000;
    text-decoration: underline;
}
a:active {    /* active link */
    color: #0000FF;
}


.white, .white a {
  color: #fff;
}

.weekoffset { 
	margin-top: -30px; 
}

