
<div class="container" id="holdon-container">

	<div class="row">
		<div class="col-md-12" id="iconBig">
			<img src="/img/site/logo_medium.png">
		</div>
	</div><!-- Logo -->

	<div class="row">
		<div class="col-md-12" id="holdon">
			<h6>Hold on your clicks, We're fine tunning our prototype. Mixgogo will come back soon. Would you like to help testing it?
			</h6>
		</div>
	</div><!-- Thank you message -->


	<div class="row">

 		<form method="post" action="/testers" id="emailForm" enctype="multipart/form-data">

 			<div class="col-md-9">
				<label for="submitEmail">Email</label>
	  			<input type="text" class="form-control input-lg" id="submitEmail" placeholder="Your email address" name="email">
  			</div>

 			<div class="col-md-3" id="yas">
	  			 <button type="submit" class="btn btn-primary btn-block pull-right btn-lg">Yaaasss!</button>
  			 </div>

 		</form> 


	</div><!-- Submit email -->

</div>

