<header>
	{{> header}}
</header>


<div class="container-fluid" id="content-container">
		
	<div id="flyer">

		{{#set}}


			<div class="row">

				<h1>{{title}}</h1>

			</div>	<!-- Title -->



			<div class="row">


				<div class="col-md-4">

					<img src="{{artcover}}" class="img-responsive">						
				 
				</div> <!-- Artcover -->




				<div class="col-md-8">

					<div class="row">

						
						<div class="col-md-8">	

							<div class="row">

								<div class="col-md-2">
									<input type="image" src="/img/site/track_play.png" id="" alt="Play">
								</div>

								<div class="col-md-10">
									<h2>{{lineup.artist}}</h2>
								</div>

							</div>

						</div> <!-- tracks -->

						<div class="col-md-4">

							<div class="row">
								<h2>
								{{formatedDate}}
	      						{{startTime}}
	      						 </h2>
							</div>  <!-- Date -->



							<div class="row">
								<h2><small>
									Address:  {{address}}
						        	{{city}}
						        </small></h2>	
							</div>  <!-- Adrress-->


							<div class="row">

								<h2><small>Price range: {{minPrice}} -  {{maxPrice}}</small></h2>

								<div class="buttonTicket">
									<a href="{{buyUrl}}"><input class="btn  btn-primary btn-lg " type="button" value="Tickets"></a>
								</div>

							</div>  <!-- Ticket button-->

						</div> <!-- When,Where Tckets-->


					</div> <!-- Row tracks and TIcket -->

				</div> <!-- Infos -->

			</div> <!-- Thumb, tracks and info -->



			<div class="row">	

				<h2 ><small>{{description}}</small></h2>

				<a href="../edit/{{id}}" class="btn btn-default btn-lg btn-block" style="visibility: hidden">Edit</a>

			</div> <!-- Description -->
		

		{{/set}}

	</div> <!-- Flyer -->
	
</div> <!-- Content Container -->

	


{{> player}}

<script>initEvent()</script>